table {
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="button"] {
  font: 1.4em sans-serif;
  margin: 10px;
  border: 1px solid black;
  border-radius: 25px;
  outline: none;
}

input[type="button"]:hover {
  box-shadow: 1px 1px 1px 1px black;
}

td input[type="text"] {
  padding: 10.5px 14px;
  border: 1px solid grey;
  border-radius: 20px;
  outline: none;
  font-size: 0.8rem;
  width: 90%;
}
